/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif; */

:root {
    --primary-font: "Playfair Display", serif;

    --secondary-font: "Poppins", sans-serif;

    --primary-color: rgb(110, 103, 105);

    --secondary-color: rgb(237, 111, 140);

    --tertiary-color: rgb(245, 241, 230);

    --box-shadow: 21px 16px 20px rgba(110, 103, 105, 0.3);

    --border-color: rgb(110,103,105, 0.5);

}

body {
    background-image: url(/media/beige-background.png);
    
}

h1 {
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 72px;
}

h2{
    font-size: 48px;
    font-weight: normal;
    opacity: 0.8;
}
.container-width {
    width: 99.9%;
}

.btn-branding {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
     border-radius: 5px;
     font-size: 18px;
     line-height: 27px;
     padding: 12px 20px;
     opacity: 0.8;
     box-shadow: var(--box-shadow);
 }

 .btn-branding:hover {
     color: var(--secondary-color);
     border: 1px solid var(--secondary-color);
 
 }

 .navbar-custom {
    background-image: url(/media/beige-background.png);
    padding: 20px;
    font-family:var(--secondary-font);
    font-size: 20px;
    color: var(--primary-color);
    opacity: 0.75;
 }

 .active {
    color: var(--secondary-color) !important;
 }

 .nav-link:hover {
    color: var(--secondary-color) !important;
 }

 .logo-image {
    width: 180px;
    height: 120px;
 }


.hero {
    text-align: center;
    padding: 80px;
    border-top:1px dotted var(--border-color);
}

.hero h1 {
    color: var(--primary-color);
}

.hero h2 {
    font-family: var(--secondary-font);
    padding-left: 210px;
    color: var(--secondary-color);
    opacity: 0.7;
}

.project-heading {
    text-align: center;
    color: var(--primary-color);
    border-top: 1px dotted var(--border-color);
    font-family: var(--primary-font);
    opacity: 0.7;

}
#project-content h2 {
    color: var(--secondary-color);
}

#project-content p {
    border-top: 1px dotted var(--border-color);
    padding-top: 25px;
    color: var(--primary-color);
    font-family: var(--primary-font);
}


footer {
    padding: 20px;
    border-top: 1px dotted var(--border-color);
}

.link-icons {
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}
.link-icons a {
    color: var(--primary-color);
}
.link-icons a visited {
    color: var(--primary-color);
}

@media(max-width:900px) {
body {
    text-align: center;
    padding: 0;
}

.logo-image {
    width: 100px;
    height: 80px;
}
.hero h1 {
    font-size: 60px;
}
    

.hero h2 {
    padding: 0;
    font-size: 32px;
    }

h2 {
    font-size: 40px;
}

#project-content {
    text-align: center;
}

}




